
/* IMPORT FONT FOR HEADER ICONS*/
@font-face {
    font-family:lidl-dings;
    src:url(https://www.lidl.de/cdn/assets/6.5.0/lidl-dings-repaint-de-20190204.woff2) format("woff2"),
    url(https://www.lidl.de/cdn/assets/6.5.0/lidl-dings-repaint-de-20190204.woff) format("woff");
    font-weight:400;
    font-style:normal;
    font-display:swap
   }
   
/* IMPORT FONT FOR CONTENT*/
   @font-face {
    font-family:Lidl-Font;
    src:url('LidlFontCondPro-Regular.woff2') format('woff2'),
    url('LidlFontCondPro-Regular.woff') format('woff');
    font-weight:400;
    font-style:normal;
    font-display:swap
   }
   @font-face{
      font-family:Lidl-Font;
      src:url('LidlFontCondPro-Semibold.woff2') format('woff2'),
      url('LidlFontCondPro-Semibold.woff') format('woff');
      font-weight:700;
      font-style:normal;font-display:swap}

   @font-face {
    font-family:Lidl-Font;
    src:url(https://www.lidl.de/cdn/assets/6.5.0/LidlFontCondPro-Bold.woff2) format('woff2'),
    url(https://www.lidl.de/cdn/assets/6.5.0/LidlFontCondPro-Bold.woff) format('woff');
    font-weight:900;
    font-style:normal;
    font-display:swap
   }

   @font-face {
      font-family: 'NewsGothicBTWebCond';
      src: url('NGT57__W.eot');
      src: url('NGT57__W.eot?#iefix') format('embedded-opentype'),
      url('NGT57__W.woff') format('woff'),
      url('NGT57__W.ttf') format('truetype'),
      url('NGT57__W.svg#NewsGothicBTWebCond-Regular') format('svg');
      font-weight: normal;
      font-style: normal;
    }
    
    @font-face {
      font-family: 'NewsGothicBTWebCondBold';
      src: url('NGT77__W.eot');
      src: url('NGT77__W.eot?#iefix') format('embedded-opentype'),
      url('NGT77__W.woff') format('woff'),
      url('NGT77__W.ttf') format('truetype'),
      url('NGT77__W.svg#NewsGothicBTWebCond-Bold') format('svg');
      font-weight: bold;
      font-style: normal;
    }

 
/* ICONS */
  /* .icon-user-nav-flyer:before {
    content:"\e036"
   }
   .icon-user-nav-newsletter:before {
    content:"\e037"
   }
   .icon-user-nav-store:before {
    content:"\2265"
   }
   .icon-user-nav-account:before {
    content:"\2c6"
   }
   .icon-vote:before {
    content:"\e01f"
   } 
    .icon-user-nav-basket:before {
    content:"\e034"
   }*/