body, html {
  font-family: Lidl-Font,'Trebuchet MS',Arial,sans-serif;
  color: #2F3A44;
  margin:0;
  padding:0;
}

* {
  box-sizing: border-box;
}

.wrapper{
    width: 100%;
    max-width: 1216px;
    position: relative;
    margin: 0 auto;
}

/* no-margin*/
.no-m{
    margin:0;
}
/*width */
/*
.c-3{
  width:40%;
}*/

.c-4{
  width:40%;
}
.c-6{
  width:60%;
}
.c-10{
    width:100%;
}
.space{
  -moz-box-sizing: border-box;
}


.lidlpartner__wrapper h2, p{

  text-align: center;

}

.slick-track .column {
float: left;
width: 50%;
padding: 0 20px;
padding-top: 20px ;
padding-top: 60px ;
}

.slick-track {margin: 0 -20px;}

.slick-track:after {
content: "";
display: table;
clear: both;
}

@media screen and (max-width: 600px) {
.slick-track .column {
  width: 100%;
  display: block;
  margin-bottom: 20px;

}
}

.lidlpartner__card {

padding: 16px;
text-align: center;

}
.bottom-line img{
/*float: right;*/
margin-left: 1000px;
}
.image-text{
  text-align: center;

  top: 50%;
  left: 50%;
  transform: translate(-30%, -10%);
  color: white;
}
.logo--image{
  text-align: center;

  top: 50%;
  left: 50%;
  transform: translate(270%, -340%);
  color: white;
  width: 150px;
}
.image-book{
  text-align: center;

  top: 50%;
  left: 50%;
  transform: translate(-35%, 0%);
  color: white;
}

.ticket-book{
  top: 50%;
  left: 50%;
  transform: translate(270%, -450%);
  color: white;
  width: 90px;

}.ticket-scoyo{
  top: 50%;
  left: 50%;
  transform: translate(519%, -552%);
  color: white;
  width: 87.2px;

}
.ticket-blue{
  top: 50%;
  left: 50%;
  transform: translate(264.4%, -1444%);
  color: white;
  width: 160px;

}

.img-text {
  width: 100%;
  display: table;
  table-layout: fixed;
}
.photo-left,
.content-something {
  display: table-cell;
  vertical-align: middle;
}
.photo-left {
  width: 70%;
}
.photo-left img {
  max-width: 100%;

}
.content-something {
  width: 30%;
  padding: 15px;
}

.logo--readly{
  text-align: center;

  top: 50%;
  left: 50%;
  transform: translate(173%, -420%);
  color: white;
  width: 200px;
  
}
div .content-something:nth-child(2) {
  background: purple;
  color: white;
  /*clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
  padding: 10rem 20%;*/
}
.content .wrapper .content-something p{
  text-align: left;
   padding-left: 30px; 
     color: #353b42;
  font-family: Lidl-Font, 'LidlFontCondPro-Semibold';
   font-size: 26px;
   font-weight: 600;
   line-height: 31.2px;
   margin-bottom: -90px;
   padding-top: 100px ;
}
.content .wrapper .content-something  span{
margin:0 !important; 
text-align: left; 
padding-left: 30px;
padding-top: 10px; 
  color: #353b42;
  font-family: Lidl-Font, 'LidlFontCondPro-Regular';
  font-size: 22px;
  font-weight: 400;
  line-height: 30.8px;
  text-align: center;
  margin-top: 10px;

}
.logo--book{
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(15%, 350%);
  color: white;
  width: 200px;
  
}

.button{
  background-color: transparent;
  border: 1px solid #555555;
  float: right;
  padding: 15px 20px;
 /* margin-top: -37px;*/
  margin-right: 15px;
  cursor: pointer;
  color: #353b42;
  font-family: Lidl-Font, 'LidlFontCondPro-Semibold';
  font-size: 18px;
  font-weight: 600;
  line-height: 21.6px;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 899px)
{
.header > .middle-bar > .wrapper > .r > div.c-3{
  display: none;

}
}
@media (max-width: 639px){
.hide-phone {
  display: none !important;
}}
@media (max-width: 639px){
.header > .middle-bar > .wrapper > .r > div > div .user-area {
  padding-top: .313rem;
}}

/*
@media (max-width: 800px) {
  .button{
    background-color: transparent;
    border: 1px solid #555555;
    float: none;
    padding: 15px 20px;
    margin-top:0px;
    margin-right: 10px;
    cursor: pointer;
    color: #353b42;
    font-family: Lidl-Font, 'LidlFontCondPro-Semibold';
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
    text-align: center;
    text-transform: uppercase;
  }
  #image-bottom{
    padding-bottom: 200px;
  }
  }*/
.logo--eon{
  text-align: center;

  top: 50%;
  left: 50%;
  transform: translate(253%, -400%);
  color: white;
  width: 150px;
}
.logo--gymondo{
  text-align: center;

  top: 50%;
  left: 50%;
  transform: translate(168%, -340%);
  color: white;
  width: 200px;
}
.logo--framily{
  text-align: center;

  top: 50%;
  left: 50%;
  transform: translate(243%, -401%);
  color: white;
  width: 150px;
}
.img--framily{
  text-align: center;

  top: 50%;
  left: 50%;
  transform: translate(200%, 0%);
  color: white;
  width: 150px;
}
.logo--scoyo{
  text-align: center;

  top: 50%;
  left: 50%;
  transform: translate(180%, -410%);
  color: white;
  width: 150px;
}
.content .wrapper h2{

  color: #353b42;
  font-family: Lidl-Font, 'LidlFontCondPro-Semibold';
  font-size: 34px;
  font-weight: 600;
  line-height: 40.8px;
  text-align: center;
  margin-bottom: 0px !important;
}
.content .wrapper p{

  color: #353b42;
  font-family: Lidl-Font, 'LidlFontCondPro-Regular';
  font-size: 22px;
  font-weight: 400;
  line-height: 30.8px;
  text-align: center;
  margin-top: 10px;
}


.p-tbms {
padding-top: .313rem;
padding-bottom: .313rem;
}
.c-6 .right{
  text-align: right;
}


.r > * {
letter-spacing: normal;
word-spacing: normal;
}.r {
letter-spacing: -.37rem;
margin: 1.25rem 0;
text-rendering: optimizespeed;
}.r [class*=" o-"], .r [class*=" c-"], .r [class*=" f-"], .r [class^="c-"], .r [class^="f-"], .r > [class^="o-"] {
display: inline-block;
zoom: 1;
vertical-align: top;
text-rendering: auto;
}
.no-m {
margin: 0;
}a:active, a:hover {
outline: 0;
}.a, .linklabel span, a {
cursor: pointer;
display: inline-block;

}
.show-phone {
display: none !important;
}
@media screen and(max-width:639px){

.show-phone {
  display: inline-block !important;

}}

.middle-bar p{
color: #0050AA;
font-size: 34px;
font-family: Lidl-Font, 'LidlFontCondPro-Regular';
}
.p-tms {
padding-top: .313rem;
}


/* padding */

.p-lr {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

/* -B A N N E R- */
.content-banner{
  height: 400px;
  background-color: #4e5761;



}
.content-banner h2{
  color: #ffffff;
  font-family: Lidl-Font, 'LidlFontCondPro-Semibold';
  font-size: 34px;
  font-weight: 600;
  line-height: 40.8px;
  text-align: center;
  padding-top: 30px;
}

.banner-icons {
  font-family: Lidl-Font, 'LidlFontCondPro-Regular';
  color: white;
  font-size: 1rem;
  letter-spacing: 0;
}
.banner-wrapper {
  max-width: 78rem;
  margin: 0 auto;
}
.banner-icons--background {
  padding: 1rem 0.5rem;
}

.banner-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.banner-listelem a{
  color: #ffffff;
  font-family: Lidl-Font, 'LidlFontCondPro-Semibold';
  font-size: 18px;
  font-weight: 600;
  line-height: 25.2px;
  text-align: center;
}
.paragraph-banner p{
  color: #ffffff;
  font-family: Lidl-Font, 'LidlFontCondPro-Regular';
  font-size: 22px;
  font-weight: 400;
  line-height: 30.8px;
  text-align: center;
  padding-top: 20px;
  width: 60%;
}

@media (min-width: 320px) {
  .banner-listelem {
    width: 50%;
  }
}
@media (max-width: 870px) {
.content-banner{
  height: 400px;
  background-color: #4e5761;
  margin-bottom: 60px;
display: table-row-group;
}
}
@media (min-width: 600px) {
  .banner-listelem {
    width: calc(100% / 4);
    margin: 0;
  }
}
@media (max-width: 320px){
  .banner-listelem{
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}}
.banner-listelem {
  display: block;
  text-align: center;
}.banner-list {
  list-style: none;
}

/*- H E A D E R -*/

.header > .top-bar {
  border-bottom: solid 1px #EAEBEC;
}
.header > .top-bar > .wrapper {
  padding: 0 !important;
}
.header > .top-bar > .wrapper > .r > div > div > .company-area {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header > .top-bar > .wrapper > .r > div > div > .company-area > li {
  display: inline-block;
}

.header > .top-bar > .wrapper > .r > div > div > .company-area {
  list-style-type: none;
}

.header > .top-bar > .wrapper > .r > div > div > .company-area > li > a {
  font-weight: 400;
  font-size: 14px;
  font-size: .9375rem;
  line-height: 2rem;
  color: #2F3A44;
  text-decoration: none;
  padding: 0 .5rem 0 .5rem;
  cursor: pointer;
  font-family: Lidl-Font, 'LidlFontCondPro-Regular';
  
}
.hide-phoneflyer{
  font-family: Lidl-Font, 'LidlFontCondPro-Regular';
font-size: 14px;
}
.hide-phonenewsletter{
  font-family: Lidl-Font, 'LidlFontCondPro-Regular';
  font-size: 14px;
}
.hide-phonestore{
  font-family: Lidl-Font, 'LidlFontCondPro-Regular';
  font-size: 14px;
}
.hide-phoneaccount{
  font-family: Lidl-Font, 'LidlFontCondPro-Regular';
  font-size: 14px;
}
.hide-phonewatchlist{
  font-family: Lidl-Font, 'LidlFontCondPro-Regular';
  font-size: 14px;
}
.hide-phonebasket{
  font-family: Lidl-Font, 'LidlFontCondPro-Regular';
  font-size: 14px;
}
.header > .top-bar > .wrapper > .r > div.c-3 {
  width: 40%;
}

.header > .bottom-bar {
  overflow: hidden;
}
.header > .bottom-bar > .wrapper > div {
  padding-top: 0;
  padding-bottom: 0;
}.header > .bottom-bar > .wrapper > div > .product-navigation {
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none;
}.header > .bottom-bar > .wrapper > div > .product-navigation > li {
  display: inline-block;
  color: #2F3A44;
  margin-right: -4px;
  margin-bottom: -1px;
  box-shadow: 0 1px 0 #EAEBEC;
  padding-right: 9px;
}body .header > .bottom-bar > .wrapper > div > .product-navigation > li > a {
  margin-right: 1.775rem;
}.header > .bottom-bar > .wrapper > div > .product-navigation > li > a {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  font-weight: 400;
  font-size: 22px;
  border-bottom: transparent 4px solid;
  padding: .625rem 0;
  text-decoration: none;
  margin-right: 1.775rem;
  line-height: 1;
  font-family: Lidl-Font, 'LidlFontCondPro-Regular';
}.header > .bottom-bar > .wrapper > div > .product-navigation > li:hover > a {
  color: #4E5761;
  border-color: #646A70;
}body .header > .bottom-bar > .wrapper > div > .product-navigation > li > a {
    margin-right: 1.775rem;
}.header > .bottom-bar > .wrapper > div > .product-navigation > li.active > a {
  color: #0050AA;
  border-color: #0050AA;
}.header > .middle-bar {
  min-height: 3.375rem;
  height: 5rem;
}.header > .middle-bar > .wrapper > .r {
  position: relative;
}.header > .middle-bar > .wrapper > .r > div.c-1 {
  width: 0;
}.header > .middle-bar > .wrapper > .r > div > div > .llogo {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  display: block;
  margin-top: 8px;
  margin-bottom: .313rem;
  width: 72px;
}.header > .middle-bar > .wrapper > .r > div.c-3 {
  margin-left: 6rem;
  margin-top: -7px;
}
.header > .middle-bar > .wrapper > .r > div > div .user-area > li > a.ua-account {
  padding-left: .625rem;
}
.header > .top-bar > .wrapper > .r > div > div > .company-area > li > a:hover {
  text-decoration: underline;
  background-color: #EAEBEC;}
  .header > .top-bar > .wrapper > .r > div > div > .company-area {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .hide-phonestore{
    float: left;
  padding-top: 3px;
  }
  .hide-phonewatchlist{
    float: left;
    padding-top: 3px;
  }
  .hide-phonebasket{
    float: left;
    padding-top: 3px;
    
  }
  .hide-phoneaccount{
    float: left;
    padding-top: 3px;
    padding-left: 19px;
  }
  .header > .top-bar > .wrapper > .r > div > div > small {
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    font-size: .9375rem;
    line-height: 2rem;
    color: #2F3A44;
    font-family: Lidl-Font, 'LidlFontCondPro-Regular';
  }
  .header > .middle-bar > .wrapper > .r > div.c-6 {
    position: absolute;
    right: 0;
    width: auto;
    padding-right: 1.25rem;
  }
  .header > .middle-bar > .wrapper > .r > div > div .user-area {
    margin: 0;
    padding: 3px 0 0 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }.header > .middle-bar > .wrapper > .r > div > div .user-area > li > a {
    color: #2F3A44;
    display: block;
    text-align: center;
    text-decoration: none;
    margin: 0;
    padding: 0 0 0 .938rem;
    position: relative;
  }
  .header > .middle-bar > .wrapper > .r > div > div .user-area > li > a > b {
    font-weight: 400;
    font-size: 14px;
    font-size: .875rem;
  }
  .header > .middle-bar > .wrapper > .r > div > div .user-area > li {
    display: inline-block;
  }
  .header > .middle-bar > .wrapper > .r > div > div .user-area > li > a.ua-account {
    padding-left: .625rem;
  }
  
  .header > .middle-bar > .wrapper > .r > div > div .user-area > li > a.ua-watchlist {
    padding-right: 0;
  }.header > .middle-bar > .wrapper > .r > div > div .user-area > li > a.ua-watchlist {
    padding-left: 0px;
  }
  .header > .middle-bar > .wrapper > .r > div > div .user-area > li > a.ua-account > b {
    padding-right: 1.25rem;
}
  .header > .middle-bar > .wrapper > .r > div > div .user-area > li > a.ua-basket > b {
   /* padding-right: 1.25rem;*/
  }
  .header b {
    font-weight: 400;
    font-size: 14px;
    font-size: .875rem;
  }
 .header > .middle-bar > .wrapper > .r > div > div .user-area > li > a > b {
    font-weight: 400;
    font-size: 14px;
    font-size: .875rem;
  }
  .p-rs {
    padding-right: .625rem;
}
  .header > .middle-bar > .wrapper > .r > div > div .user-area > li > a > i {
    display: block;
    font-weight: 400;
    font-size: 32px;
    font-size: 2rem;
    line-height: 0;
    margin: 0;
  }
  .middle-bar > .wrapper > .r > div > div .user-area > li > a:hover {
    color: #0050AA;
  }

  /* H E A D E R    I C O N S */
  /**icon-user-nav-newsletter::before {
    content: "\e037";
  }
  .icon-user-nav-store::before {
    content: "\2265";
    float:left;
  }
  .icon-user-nav-account::before {
    content: "\2c6";
  }
  .icon-vote::before {
    content: "\e01f";
  }
  .icon-user-nav-basket::before {
    content: "\e034";
  }
  .icon-user-nav-flyer::before {
content: "\e036";
}*/

  [class*=" icon-"]::before, [class^="icon-"]::before {
    font-family: lidl-dings;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none !important;
    text-align: left;
    speak: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    text-decoration: none;
    width: 1em;
    line-height: 1.375em;
    -webkit-font-smoothing: antialiased;
  }
  .pos_rel {
    position: relative;
}
/*- F O O T E R -*/
.footer__main{
  background-color: #4e5761;

}

.footer__main p{
  text-align: center;
}
.footer__disclaimer {
  text-align: center;
}

.nav__footer {
  font-family: Lidl-Font, 'LidlFontCondPro-Regular';
  color: white;
  font-size: 1rem;
  letter-spacing: 0;
}

.footer__list--center {
  justify-content: center;
}

.footer__list--inline {
  display: flex;
  flex-wrap: wrap;

}
.footer__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.footer__disclaimer-listelem:not(:last-child) {
  margin-right: 1rem;
}
.footer__list {
  list-style: none;
}
.footer__link {
  padding: .5rem;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: white;
  margin-left: -.5rem;
  line-height: 1.2rem;
  text-decoration: none;
  font-size: 18px;
  font-family: Lidl-Font, 'LidlFontCondPro-Regular';
}
.footer__link:hover, .footer__link:focus {
  background-color: #4e5761;
  text-decoration: underline;
  cursor: pointer;
  color: white;
  outline: none;
}
.footer__main p {
  font-family: Lidl-Font, 'LidlFontCondPro-Semibold';
  font-size: 18px;
  font-weight: 600;
  color: white;
}
.footer__trustbar {
  padding: 1rem .5rem;
  background: #e3e4e5;
}.footer__trustbar-wrapper {
  max-width: 78rem;
  margin: 0 auto;
}.footer__trustbar-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

@media (min-width: 320px) {
  .footer__trustbar-listelem {
    width: 50%;
  }
}

@media (min-width: 600px) {
  .footer__trustbar-listelem {
    width: calc(100% / 4);
    margin: 0;
  }
}
@media (max-width: 320px){
.footer__trustbar-listelem {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}}
.footer__trustbar-listelem {
  display: block;
  text-align: center;
}.footer__trustbar-list {
  list-style: none;
}
.footer__trustbar-listelem a{
width: 100px;
height: 22px;
color: #353b42;
font-family: Lidl-Font, 'LidlFontCondPro-Regular';
font-size: 18px;
font-weight: 400;
line-height: 21.6px;
text-align: center;
}
.lidlpartner__footer span {
  font-family: Lidl-Font, 'LidlFontCondPro-Semibold';
  font-size: 14px;
  font-weight: 400;
  color: #353b42;
  line-height: 19.6px;
}

@media (max-width: 899px){
  .lidlpartner__footer {
    padding-left: .625rem;
    padding-right: .625rem;
}}

